In [60]:
import os, datetime, pandas as pd
import gmaps
from config import settings
from sqlalchemy import create_engine
from  sqlalchemy.connectors import pyodbc
from sqlalchemy.dialects import postgresql
DT = datetime.datetime.today().strftime('%Y%m%d') #'20200322' #
DATEY = datetime.datetime.today().strftime('%Y-%m-%d') #'2020-03-22' #
pgHost = settings['pgHost']
pgUser = settings['pgUser']
pgPass = os.environ['PGPASS']
pgDb = settings['pgDb']
gmaps.configure(api_key=os.environ["GMAPS_API_KEY"])

pg = create_engine(f"postgresql://{pgUser}:{pgPass}@{pgHost}/{pgDb}")

bubbleSQL = f"""SELECT lng, lat, max(confirmed) confirmed
from daily
where lng>0 or lng<0
--where combinedkey similar to '%%US' and lat>0  and lastupdate<='{DATEY}'
group by lat, lng"""

deathSQL = f"""SELECT lng, lat, max(deaths) deaths
from daily
where lng>0 or lng<0
--where combinedkey similar to '%%US' and lat>0 and lastupdate<='{DATEY}'
group by lat, lng"""

In [61]:
data = pg.execute(bubbleSQL)
data = [d for d in data]
idf = pd.DataFrame(data, columns=['lng','lat','infected'])

In [62]:
data = pg.execute(deathSQL)
data = [d for d in data]
ddf = pd.DataFrame(data, columns=['lng','lat','deaths'])

In [63]:
idf.sort_values('infected')

             lng        lat  infected
1948 -115.001524  47.152840         0
2965 -101.055370  39.351076         0
2963 -100.555663  41.913590         0
679   -88.176575  38.087062         0
1309  -95.743233  37.559372         0
...          ...        ...       ...
1776  -73.971526  40.767273     76876
2011   10.451526  51.165691    107663
1689    2.213700  46.227600    109069
3115   12.567380  41.871940    135586
1872   -3.749220  40.463667    141942

[3897 rows x 3 columns]

In [64]:
ddf.sort_values('deaths')

             lng        lat  deaths
0     -85.721427  35.384337       0
2379  -89.802451  33.770362       0
2380 -109.224521  47.263316       0
2381  -95.604068  36.370044       0
2382  -85.800701  43.554374       0
...          ...        ...     ...
1776  -73.971526  40.767273    4009
2981   -3.436000  55.378100    6159
1689    2.213700  46.227600   10328
1872   -3.749220  40.463667   14045
3115   12.567380  41.871940   17127

[3897 rows x 3 columns]

In [111]:
fig = gmaps.figure(map_type='HYBRID', )
death_layer = gmaps.heatmap_layer(ddf[['lat', 'lng']], weights=ddf.deaths, max_intensity=17127, point_radius=15.0)
infected_layer = gmaps.heatmap_layer(idf[['lat', 'lng']], weights=idf.infected, max_intensity=141942, point_radius=25.0)
death_layer.gradient = [(0,0,0, 0.0),'black','red']
fig.add_layer(infected_layer)
fig.add_layer(death_layer)

In [112]:
fig

Figure(layout=FigureLayout(height='420px'))

In [113]:
zipdf = pd.read_csv('C:/Users/ian.rubenstein/repos/coronavirus-data/tests-by-zcta.csv')

In [114]:
zipdf

     MODZCTA  Positive  Total  zcta_cum.perc_pos
0        NaN      4735   4842              97.79
1    10001.0       170    364              46.70
2    10002.0       405    792              51.14
3    10003.0       230    543              42.36
4    10004.0        20     45              44.44
..       ...       ...    ...                ...
173  11691.0       822   1226              67.05
174  11692.0       214    332              64.46
175  11693.0       147    242              60.74
176  11694.0       267    457              58.42
177  11697.0        44     93              47.31

[178 rows x 4 columns]

In [115]:
import requests

In [119]:
mzip = requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address=11226&key={os.environ['GMAPS_API_KEY']}").json()

In [124]:
mzip['results'][0]['geometry']['location']

{'lat': 40.6470923, 'lng': -73.9536163}

In [128]:
zipdf

     MODZCTA  Positive  Total  zcta_cum.perc_pos  lat  lng
0        NaN      4735   4842              97.79  0.0  0.0
1    10001.0       170    364              46.70  0.0  0.0
2    10002.0       405    792              51.14  0.0  0.0
3    10003.0       230    543              42.36  0.0  0.0
4    10004.0        20     45              44.44  0.0  0.0
..       ...       ...    ...                ...  ...  ...
173  11691.0       822   1226              67.05  0.0  0.0
174  11692.0       214    332              64.46  0.0  0.0
175  11693.0       147    242              60.74  0.0  0.0
176  11694.0       267    457              58.42  0.0  0.0
177  11697.0        44     93              47.31  0.0  0.0

[178 rows x 6 columns]

In [135]:
for i,row in zipdf.iterrows():
    try:
        resp =  requests.get(f"https://maps.googleapis.com/maps/api/geocode/json?address={int(row[0])}&key={os.environ['GMAPS_API_KEY']}").json()
        latlng = resp['results'][0]['geometry']['location']
        zipdf.iloc[i,4] = latlng['lat']
        zipdf.iloc[i,5] = latlng['lng']
        print(f"{int(row[0])} - {latlng}")
    except Exception as e:
        print(e)

cannot convert float NaN to integer
10001 - {'lat': 40.75368539999999, 'lng': -73.9991637}
10002 - {'lat': 40.7135097, 'lng': -73.9859414}
10003 - {'lat': 40.7322535, 'lng': -73.9874105}
10004 - {'lat': 40.7038704, 'lng': -74.0138541}
10005 - {'lat': 40.7064363, 'lng': -74.0094562}
10006 - {'lat': 40.709329, 'lng': -74.0131196}
10007 - {'lat': 40.7136487, 'lng': -74.0087126}
10009 - {'lat': 40.7275043, 'lng': -73.9800645}
10010 - {'lat': 40.7388319, 'lng': -73.98153370000001}
10011 - {'lat': 40.7464969, 'lng': -74.0094471}
10012 - {'lat': 40.7250632, 'lng': -73.9976946}
10013 - {'lat': 40.7217861, 'lng': -74.0094471}
10014 - {'lat': 40.7366138, 'lng': -74.0094471}
10016 - {'lat': 40.74727, 'lng': -73.9800645}
10017 - {'lat': 40.7519846, 'lng': -73.9697795}
10018 - {'lat': 40.755322, 'lng': -73.9932872}
10019 - {'lat': 40.7686973, 'lng': -73.9918181}
10021 - {'lat': 40.7700703, 'lng': -73.9580246}
10022 - {'lat': 40.7593941, 'lng': -73.9697795}
10023 - {'lat': 40.7769059, 'lng': -73.9800645}
10024 - {'lat': 40.7859464, 'lng': -73.97418739999999}
10025 - {'lat': 40.7999209, 'lng': -73.96831019999999}
10026 - {'lat': 40.8032131, 'lng': -73.95258249999999}
10027 - {'lat': 40.8138912, 'lng': -73.96243270000001}
10028 - {'lat': 40.77664120000001, 'lng': -73.9521468}
10029 - {'lat': 40.79164069999999, 'lng': -73.9447994}
10030 - {'lat': 40.8173411, 'lng': -73.9433299}
10031 - {'lat': 40.8270209, 'lng': -73.9506774}
10032 - {'lat': 40.8409822, 'lng': -73.9447994}
10033 - {'lat': 40.8557765, 'lng': -73.9447994}
10034 - {'lat': 40.8721452, 'lng': -73.92128579999999}
10035 - {'lat': 40.794065, 'lng': -73.9271644}
10036 - {'lat': 40.7602619, 'lng': -73.9932872}
10037 - {'lat': 40.8140369, 'lng': -73.9374517}
10038 - {'lat': 40.7071498, 'lng': -74.0021019}
10039 - {'lat': 40.8288377, 'lng': -73.9374517}
10040 - {'lat': 40.8639624, 'lng': -73.93304289999999}
10044 - {'lat': 40.7573053, 'lng': -73.9550857}
10065 - {'lat': 40.7645239, 'lng': -73.96243270000001}
10069 - {'lat': 40.7750791, 'lng': -73.9932872}
10075 - {'lat': 40.7728432, 'lng': -73.9558204}
10128 - {'lat': 40.7826039, 'lng': -73.9506774}
10280 - {'lat': 40.7084274, 'lng': -74.0173484}
10282 - {'lat': 40.7167028, 'lng': -74.0152027}
10301 - {'lat': 40.6274394, 'lng': -74.0946311}
10302 - {'lat': 40.6311567, 'lng': -74.1386767}
10303 - {'lat': 40.6311444, 'lng': -74.17390569999999}
10304 - {'lat': 40.6047352, 'lng': -74.0916944}
10305 - {'lat': 40.5944059, 'lng': -74.0711359}
10306 - {'lat': 40.5729336, 'lng': -74.12986839999999}
10307 - {'lat': 40.5070853, 'lng': -74.2443436}
10308 - {'lat': 40.5535039, 'lng': -74.1504204}
10309 - {'lat': 40.5265593, 'lng': -74.22380199999999}
10310 - {'lat': 40.6307451, 'lng': -74.1181234}
10312 - {'lat': 40.555548, 'lng': -74.1827119}
10314 - {'lat': 40.5952146, 'lng': -74.1827119}
10451 - {'lat': 40.8187386, 'lng': -73.9271644}
10452 - {'lat': 40.8376318, 'lng': -73.92128579999999}
10453 - {'lat': 40.8515872, 'lng': -73.9154069}
10454 - {'lat': 40.8022594, 'lng': -73.9154069}
10455 - {'lat': 40.8147803, 'lng': -73.90805809999999}
10456 - {'lat': 40.83102239999999, 'lng': -73.9095279}
10457 - {'lat': 40.84413869999999, 'lng': -73.8977693}
10458 - {'lat': 40.8621792, 'lng': -73.88601}
10459 - {'lat': 40.8285039, 'lng': -73.8918897}
10460 - {'lat': 40.841618, 'lng': -73.8801301}
10461 - {'lat': 40.8476284, 'lng': -73.8360251}
10462 - {'lat': 40.8382522, 'lng': -73.8566087}
10463 - {'lat': 40.8803247, 'lng': -73.9095279}
10464 - {'lat': 40.864318, 'lng': -73.7977928}
10465 - {'lat': 40.8262186, 'lng': -73.8242621}
10466 - {'lat': 40.8887394, 'lng': -73.8477874}
10467 - {'lat': 40.8723987, 'lng': -73.8713099}
10468 - {'lat': 40.8687887, 'lng': -73.8977693}
10469 - {'lat': 40.8690303, 'lng': -73.8477874}
10470 - {'lat': 40.89907669999999, 'lng': -73.86836970000002}
10471 - {'lat': 40.8971509, 'lng': -73.9065883}
10472 - {'lat': 40.8300731, 'lng': -73.86836970000002}
10473 - {'lat': 40.811547, 'lng': -73.859549}
10474 - {'lat': 40.8050442, 'lng': -73.8830701}
10475 - {'lat': 40.87347, 'lng': -73.8272029}
11429 - {'lat': 40.7078289, 'lng': -73.7389596}
11004 - {'lat': 40.7430884, 'lng': -73.7095365}
11101 - {'lat': 40.7443091, 'lng': -73.9418603}
11102 - {'lat': 40.7732937, 'lng': -73.9286341}
11103 - {'lat': 40.7633726, 'lng': -73.9109977}
11104 - {'lat': 40.7448741, 'lng': -73.91981609999999}
11105 - {'lat': 40.7787902, 'lng': -73.9065883}
11106 - {'lat': 40.7595044, 'lng': -73.9271644}
11109 - {'lat': 40.7449081, 'lng': -73.95692249999999}
11201 - {'lat': 40.6986772, 'lng': -73.9859414}
11203 - {'lat': 40.6515882, 'lng': -73.93304289999999}
11204 - {'lat': 40.6195067, 'lng': -73.9859414}
11205 - {'lat': 40.6945036, 'lng': -73.9565551}
11206 - {'lat': 40.7047738, 'lng': -73.9418603}
11207 - {'lat': 40.6655101, 'lng': -73.8918897}
11208 - {'lat': 40.6749343, 'lng': -73.8713099}
11209 - {'lat': 40.6212119, 'lng': -74.03294989999999}
11210 - {'lat': 40.6285158, 'lng': -73.9447994}
11211 - {'lat': 40.7093358, 'lng': -73.9565551}
11212 - {'lat': 40.6639181, 'lng': -73.9154069}
11213 - {'lat': 40.6722134, 'lng': -73.93892129999999}
11214 - {'lat': 40.6046106, 'lng': -73.9982756}
11215 - {'lat': 40.6681669, 'lng': -73.9800645}
11216 - {'lat': 40.6788319, 'lng': -73.9506774}
11217 - {'lat': 40.6815619, 'lng': -73.9785952}
11218 - {'lat': 40.6483744, 'lng': -73.9800645}
11219 - {'lat': 40.6310753, 'lng': -73.9976946}
11220 - {'lat': 40.6385229, 'lng': -74.0153231}
11221 - {'lat': 40.6903213, 'lng': -73.9271644}
11222 - {'lat': 40.7282702, 'lng': -73.9506774}
11223 - {'lat': 40.6009233, 'lng': -73.977126}
11224 - {'lat': 40.5749261, 'lng': -73.9859414}
11225 - {'lat': 40.6648278, 'lng': -73.9565551}
11226 - {'lat': 40.6470923, 'lng': -73.9536163}
11228 - {'lat': 40.6137658, 'lng': -74.0153231}
11229 - {'lat': 40.59880769999999, 'lng': -73.9447994}
11230 - {'lat': 40.6190629, 'lng': -73.96537150000002}
11231 - {'lat': 40.6772802, 'lng': -74.0094471}
11232 - {'lat': 40.6560436, 'lng': -74.0079781}
11233 - {'lat': 40.6795939, 'lng': -73.92128579999999}
11234 - {'lat': 40.6007956, 'lng': -73.9065883}
11235 - {'lat': 40.5860069, 'lng': -73.9418603}
11236 - {'lat': 40.63871959999999, 'lng': -73.8948295}
11237 - {'lat': 40.7043156, 'lng': -73.92128579999999}
11238 - {'lat': 40.6805029, 'lng': -73.96243270000001}
11239 - {'lat': 40.6516509, 'lng': -73.8727799}
11357 - {'lat': 40.7850656, 'lng': -73.8124984}
11355 - {'lat': 40.7493096, 'lng': -73.8213213}
11354 - {'lat': 40.7699016, 'lng': -73.8272029}
11356 - {'lat': 40.7901266, 'lng': -73.8477874}
11358 - {'lat': 40.76074300000001, 'lng': -73.7977928}
11360 - {'lat': 40.7779482, 'lng': -73.7801447}
11361 - {'lat': 40.7622954, 'lng': -73.7742616}
11362 - {'lat': 40.7612957, 'lng': -73.7330753}
11363 - {'lat': 40.7728635, 'lng': -73.74484369999999}
11364 - {'lat': 40.7469886, 'lng': -73.7536695}
11365 - {'lat': 40.7421943, 'lng': -73.7889689}
11366 - {'lat': 40.7284018, 'lng': -73.7874983}
11367 - {'lat': 40.7295546, 'lng': -73.8213213}
11368 - {'lat': 40.7506343, 'lng': -73.8477874}
11369 - {'lat': 40.7659246, 'lng': -73.86836970000002}
11370 - {'lat': 40.7594109, 'lng': -73.8918897}
11372 - {'lat': 40.7527924, 'lng': -73.8801301}
11373 - {'lat': 40.737975, 'lng': -73.8801301}
11374 - {'lat': 40.72557219999999, 'lng': -73.8624893}
11375 - {'lat': 40.7245678, 'lng': -73.8457658}
11377 - {'lat': 40.74133339999999, 'lng': -73.90364869999999}
11378 - {'lat': 40.7224092, 'lng': -73.9095279}
11379 - {'lat': 40.7182124, 'lng': -73.8801301}
11385 - {'lat': 40.6980708, 'lng': -73.8948295}
11411 - {'lat': 40.69300670000001, 'lng': -73.7389596}
11412 - {'lat': 40.6963978, 'lng': -73.762495}
11413 - {'lat': 40.6679426, 'lng': -73.7536695}
11414 - {'lat': 40.6616787, 'lng': -73.8477874}
11415 - {'lat': 40.7071412, 'lng': -73.82867329999999}
11416 - {'lat': 40.6853768, 'lng': -73.8492576}
11417 - {'lat': 40.6736207, 'lng': -73.8448469}
11418 - {'lat': 40.6966538, 'lng': -73.83308439999999}
11419 - {'lat': 40.6900246, 'lng': -73.8213213}
11420 - {'lat': 40.6764003, 'lng': -73.8124984}
11421 - {'lat': 40.693029, 'lng': -73.859549}
11422 - {'lat': 40.6584068, 'lng': -73.7389596}
11423 - {'lat': 40.71700730000001, 'lng': -73.7683784}
11426 - {'lat': 40.7349144, 'lng': -73.7213063}

11427 - {'lat': 40.7302787, 'lng': -73.7442568}
11428 - {'lat': 40.7226473, 'lng': -73.7389596}
11434 - {'lat': 40.6812166, 'lng': -73.7772032}
11432 - {'lat': 40.7154518, 'lng': -73.7919103}
11433 - {'lat': 40.69978340000001, 'lng': -73.7860276}
11435 - {'lat': 40.7031635, 'lng': -73.8095574}
11436 - {'lat': 40.6718171, 'lng': -73.7977928}
11691 - {'lat': 40.6024346, 'lng': -73.762495}
11692 - {'lat': 40.592658, 'lng': -73.7977928}
11693 - {'lat': 40.6166766, 'lng': -73.8272029}
11694 - {'lat': 40.5722132, 'lng': -73.8624893}
11697 - {'lat': 40.5591088, 'lng': -73.9095279}

In [138]:
zipdf=zipdf.dropna()

In [140]:
zipdf.to_csv('C:/Users/ian.rubenstein/repos/coronavirus-data/tests-by-zcta_latlng.csv')

In [147]:
zipdf.sort_values('Positive')

     MODZCTA  Positive  Total  zcta_cum.perc_pos        lat        lng
6    10006.0         8     33              24.24  40.709329 -74.013120
4    10004.0        20     45              44.44  40.703870 -74.013854
43   10280.0        23     66              34.85  40.708427 -74.017348
90   11109.0        29     80              36.25  40.744908 -73.956922
7    10007.0        30     86              34.88  40.713649 -74.008713
..       ...       ...    ...                ...        ...        ...
118  11230.0      1054   1670              63.11  40.619063 -73.965372
73   10467.0      1142   1942              58.81  40.872399 -73.871310
145  11373.0      1142   1663              68.67  40.737975 -73.880130
108  11219.0      1314   1908              68.87  40.631075 -73.997695
141  11368.0      1659   2132              77.81  40.750634 -73.847787

[177 rows x 6 columns]

In [154]:
fig = gmaps.figure(map_type='HYBRID', )
infected_layer = gmaps.heatmap_layer(zipdf[['lat', 'lng']], weights=zipdf['Positive'], max_intensity=1700, point_radius=20.0)
fig.add_layer(infected_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [1]:
import datetime

In [15]:
datetime.datetime.today().year

2020

datetime.datetime(2020, 5, 1, 0, 0)